.homepage-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.homepage-right{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 317px;
    width: 70%;
    height: 100%;
    align-items: center;
    /* margin: auto; */

}

.homepage-userinfo{
    height: 30%;
    width: 80%;
    margin: 30px auto;
    /* justify-content: center; */
    /* border: 2px red dotted; */
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.homepage-userinfo > * {
    margin: 5px auto;
     /* border: 2px red dotted; */
     white-space: normal;
}

.homepage-userinfo .user-initial {
    width: 100px;
    height: 100px;
    align-items: center;
    font-size: 18px;
    padding-top: 38px;

}



.homepage-user-fullname{
    font-size: 1.55rem;
    width: 80%;
    text-align: center;
}

.homepage-user-username{
    color: #B1B3B7;
    width: 80%;
    text-align: center;

}

.homepage-user-txns{
    display: flex;
    flex-direction: column;
    width: 70%;
    /* background-color: blanchedalmond; */

}
.homepage-user-txns > * {
    margin: 10px 0px;
}
.txn-bar{
    display: flex;
    color:#2F3033;
    justify-content: space-between;
}
.txn-bar-left{
    display: flex;

}
.txn-bar-initial {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid gray;
    justify-content: center;
    text-align: center;
    padding-top: 13px;
    margin-right: 7px;
    /* background-color: white; */
}
.txn-bar-amount{
    /* align-self: end; */
}