.incomplete-page-title{
    margin-top: 3.26rem;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
}
.incomplete-page-title > h1{
    justify-content: flex-start;
    font-size: 24px;
    font-weight: bold;
    color: #2F3033;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

.manage-btns-container {
    display: flex;
    margin: 10px 0px;

}

.manage-btns-container > * {
    /* border: 2px red dotted; */
    /* color: white; */
    color:#008CFF;
    /* background-color: #008CFF; */
    background-color: transparent;
    padding: 10px 16px;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 2em;
    width: 140px;
    height: 40px;
    min-width: 64px;
    box-sizing: border-box;
    font-weight: 600;
    position: relative;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    margin-right: 8px;
    cursor: pointer;
}
.manage-btns-container > *:hover{
    background-color: #6B6E76;
    color: white;
}
