.search-page-container{
    width: 60%;
    padding-top: 3.26rem;
    align-items: baseline;
}

.search-page-container > h1 {
    font-size: 20px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.searchBar-input-wrap{
    border: 0.5px solid;
    overflow: hidden;
    border-color: #888C94;
    border-radius: 8px;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1876em;
    height: 45px;
    display: flex;
    padding-left: 10px;
    align-items: center;
}
.user-search{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    width: 100%;
    height: 100%;
    padding: 6px 0 7px;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    -webkit-tap-highlight-color: transparent;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    
}
.user-search:focus{
    outline: none;
}
.search-dropdown-user-info{
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 6px;
    /* border: 1px solid rgba(128, 128, 128, 0.452); */
}
.search-dropdown-user-info > * {
    margin-bottom: 5px;
    margin-right: 10px;
}
.search-dropdown-user-info:hover{
    background-color: #008cff6d;
    /* color: white; */
}
.search-bar-drop-down{
    box-shadow: 0px 1px 3px gray;
    padding: 10px;
}

/* search user in pay form css */
.search-dropdown-item{

}
.search-bar-drop-down-payform{
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 395px;
    box-shadow: 0px 1px 3px gray;
    margin-top: 16px;
    padding: 5px;
}
.user-search-payform{
    border: 0;
    height: 1.1876em;
    -webkit-tap-highlight-color: transparent;
    width: 390px;
    min-width: 30px;
    font-size: 16px;
    color:rgb(47, 48, 51);
    opacity: 1;

}
.user-search-payform:focus{
    outline: none;
}
.search-dropdown-item.payform{
    /* background-color: aqua; */
  overflow-wrap: anywhere;
}

.show-selected-user {
    background-color: #55585E;
    color: white;
    margin: 3px;
    max-width: calc(100% - 6px);
    border-radius: 4px;
    height: 32px;
    font-size: 16px;
    box-sizing: border-box;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    padding: 5px;
}
.clear-selected-user {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 5px; */
}